body {
    background-color: whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.search-box{
    width: 40%;
}

.search-image-box{
    height: 280px;
}

img{
    position: relative;
    max-width: 150px;
    max-height: 222.5px;
    height: 222.5px;
 /* width: 50px; */
}
img:hover {
    /* position: absolute; */
    max-width: 200px;
    max-height: 272.5px;
    height: 250px;
    width: auto;
    border: 5px solid gray;
    box-shadow: 0 5px 30px black;
}

.btn-trigger{
    margin-left: 20px;
}

.display-result{
    margin: 15px;
    ;
}

.modal-content-width{
    width: 50px;
}

.notification{
    height: 304px;
}

.cursor{
    cursor: pointer;
}

#btn-search.button.is-primary {
    background: orange;
}
.box {
    font-size: large;
}

.notification.is-primary {
    background-color: rgb(232,232,232);
    color: #fff;
}


h3.title.is-6 {
    color: darkslategrey;
}

h5{
    padding-bottom: 20px;
}


.label{
    font-size: 10px;
    cursor: pointer;
}

ol{
    margin-left: 20px;
}
@media only screen and (max-width: 600px) {
    .search-box{
        width: 100%;
        margin-bottom: 10px;
    }
}